.slider{
    height: 100vh;
    padding: 50px 50px;
}

.section{
    font-style: bold;
    font-size: 70px;
    color: #5D885C; 
    margin: 0px 0px 10px 20px;
}

.section-items{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.prev, .next{
    position: relative;
    top: 200px;
}

.items{
    display: flex;
    box-shadow: rgba(240, 245, 209, 1) 10px 39px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 1000px;
}

